header{
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 20px;
}

a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button{
    display: inline-block;
    background-color: #F25A70;
   /* height: 60px;
    line-height: 60px; */
    padding : 17px 18px 17px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    transition: transform 100ms linear;
}
#button:hover{
    transform: scale(1.08);
}