body{
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}



a{
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;    
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


