.button{
    display: inline-block;
    background-color: #F25A70;
    color: #FFF;
   /* height: 60px;
    line-height: 60px; */
    padding : 17px 18px 17px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0px;
    transition: transform 100ms linear;
    font-size: 20px;
}
.button:hover{
    transform: scale(1.08);
}