.main-title{
    font-family: "Press Start 2p" , sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0 #000;
    text-align: center;
}

.main-title.-second{
    text-shadow: 0;
    color: #fff;
}